@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

.wrapper {
    padding: 100px 70px 0;
}

.container {
    overflow: hidden;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    position: relative;
    width: 100%;
    margin: 0;
    background-image: url(./img/lines.png);
    background-color: #000;
}

.hero-container {
    width: 100%;
    margin: 0;
    padding: 0 0 50px 0;
    position: relative;
}

.hero-title {
    font-family: 'Alata', sans-serif;
    font-size: 80px;
    color: white;
    max-width: 455px;
    width: 100%;
    z-index: 2;
}

.hero-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: white;
    max-width: 265px;
    display: block;
    line-height: 2;
    margin-bottom: 50px;
}

.hero-profile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.logo{
    display: none;
    position: fixed;
    top: 0;
    max-width: 960px;
    padding: 0 100px;
    width: 100%;
    right: 15%;
    text-align: right;
}

.logo-right {
    z-index: 2;
    position: relative;
    width: auto;
    max-height: 65px;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.button {
    font-size: 18px;
    letter-spacing: 2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 50px;
    border: solid 2px transparent;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    min-width: 200px;
    display: block;
    width: fit-content;
    transition: 1s;
    position: relative;
}

.button:hover {
    border-color: #fff;
}

.button:hover::after {
    border-color: transparent;
}

.button::after {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    border: solid 2px white;
    transition: .3s;
}

.button-black {
    border: solid 2px transparent;
    color: black;
}

.button-black:hover {
    border-color: black;
}

.button-black::after {
    border: solid 2px black;
    top: 8px;
    left: 4px;
}

.about-container {
    width: 100%;
}

.about-title {
    font-size: 50px;
    font-family:'Alata', sans-serif;
}

.about-container-text {
    width: 325px;
    max-width: 328px;
    margin: 30px 0 60px;
}

.about-info-text{
    width: 325px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    max-width: 265px;
    line-height: 2;
    font-weight: 400;
}

.about-text {
    font-weight: 600;
}

.about-row {
    margin-bottom: 50px;
}

.about-second-container {
    display: flex;
    justify-content: space-around;
}

.about-second-title {
    font-family: 'Alata', sans-serif;
    width: fit-content;
}

.geometric {
    background-color: transparent;
    background-image: linear-gradient(180deg,#FFFFFF99 0%,#919191 100%);
    border-radius: 90%;
    width: 179px;
    height: 179px;
}

.geometric-text {
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    max-width: 275px;
    line-height: 2;
    font-weight:600;
    display: block;
}

.under-geometric-text {
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 2;
    font-weight: 400;
    max-width: 275px;
}

.paralax {
    padding: 0 0 100px 0;
}

.portofoliu-title-item {
    font-size:30px;
    font-family:'Alata', sans-serif;
    color: white;
    padding: 25px;
}

.item-border {
    border-top: 2px solid white;
}

.link-text {
    text-decoration: none;
    color: white;
}
.text-portofolio-white {
    color:white;
    padding: 10px;
}
.portofolio-image {
    height: 75%;
    top: -14px;
    right: 99px;
}
/* Education Section*/

.eduction-wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
}

.education-first-row {
    display: flex;
    flex-direction: row;
}
.education-second-row {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}
.education-first-column {
    display: flex;
    flex-direction: column;
    height: fit-content
}
.education-second-column{
    display: flex;
    flex-direction: column;
    height: 400px;
    
}

.education-number-title {
    font-size: 20px;
}

.empty-element {
    width: 4px;
    height: 50px;
    background: black;
}
/* Education Section */
.education-container {
    padding: 100px;
}

.skills-bar {
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 15px 0;
    padding: 10px;
    background: white;
}
.skill-1 {
    width: 100%;
}
.skill-2 {
    width: 60%;
}
.skill-3 {
    width: 30%;
}
.skill-4 {
    width: 80%;
}
.skill-5 {
    width: 80%;
}
/* Experience Section */

.experience-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
  }
  
  .experience-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .experience-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .experience-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  .tabel-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 600;
    color: #b1b1b1;
    margin-top: 30px;
    
  }

  .tabel-text {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
  }
  /* Quote Section */
  .quote-container-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: normal;
    align-content: normal;
  }
  
  .quote-items:nth-child(1) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .quote-items:nth-child(2) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .quote-items:nth-child(3) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .quote-items:nth-child(4) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;

  }
.quote-title {
    color: white;
    font-family:'Alata', sans-serif;
}
.quote-text {
      
      color: #727272;
      font-family:'Alata', sans-serif;
      font-weight: 300;
}
.quote-numbers{
    color: white;
    font-family:'Alata', sans-serif;
    font-size: 25px;
}
.quote-container {
    padding: 100px;
    text-align: center;
}
.quote-special {
    margin-top: -20px;
}
.story-container{
    position: relative;
}
/* Story Section */
.story-container {
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
.story-title {
    font-family: 'Montserrat', sans-serif;
}
.story-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 30px;
    padding-right: 20px;
  }
.story-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
/* Contact Section */
.contact-container {
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-title {
    font-family: 'Montserrat', sans-serif;
}
.tel-text {
    text-decoration: none;
    font-weight: 600;
    color: black;
}
/* Phone */
@media (max-width: 375px) {
    .wrapper {
        padding: 30px 36px 0;
    }
    .logo-right {
        display: none;
    }
    .hero-profile {
        height: 400px;
        position: relative;
        margin-bottom: 10px;
    }
    .hero-title {
        font-size: 45px;
    }
    .hero-description {
        margin-bottom: 10px;
    }
    /* About */
    .about-title {
        font-size: 45px;
        font-weight: 300;
    }
    .about-container-text {
        margin: 0;
    }
    .about-second-container {
        flex-direction: column;
    }
    /* Portofolio */
    .portofolio-image {
       display: none;
    }
    .link-text {
        font-size: 20px;
    }
    .paralax {
        padding: 0 20px 0 0;
    }
    /* Education */
    .eduction-wraper {
        padding-left: 20px;
        flex-direction: column;
    }
    .education-number-title{
        font-size: 15px;
    }
    .education-second-column {
        height: 120px;
    }
    .empty-element {
        height: 30px;
    }
    .empty-hide {
        display: none;
    }
    /* Skills */
    .education-container {
        padding: 20px;
    }
    /* Experience */
    .experience-container {
        flex-direction: column;
    }
    .quote-container{
        padding: 0;
    }
    .quote-title {
        font-size: 20px;
        text-align: initial;
        font-weight: 100;
        line-height: 1;
        padding: 7px;
    }
    .quote-numbers {
        font-size: 20px;
    }
    .quote-items:nth-child(4) {
        display: none;
    }
    .quote-container-text {
        justify-content: space-evenly;
        padding-right: 30px;
    }
    .story-container {
        padding: 30px;
        flex-direction: column;
    }
}
/* Tablet */
@media (min-width: 768px) {
    .hero-profile {
        height: 400px;
        right: 30px;
    }
    .hero-title {
        font-size: 40px;
    }
    .about-container {
        padding: 40px 50px;
    }
    .hero-profile {
        height: 400px;
        right: 140px;
        top: -37px;
    }
    .about-title {
        font-size: 35px;
    }
    .link-text {
        font-size: 25px;
    }
    .education-number-title {
        font-size: 14px;
    }
    .education-second-column {
        height: 250px;
    }
    .another-hide {
        display: none;
    }
    .experience-container {
        justify-content: space-around;
        padding-right: 50px;
    }
    .quote-container {
        padding-left: 40px;
    }
    .quote-title {
        font-size: 20px;
        text-align: initial;
    }
    .story-img {
        height: 570px;
        margin-top: 100px;
    }
    .story-container {
        padding: 60px;
    }
}

/* Desktop */
@media (min-width: 1280px) {
    .logo {
        display: block;
    }
    .hero-title {
        font-size: 80px;
    }
    .hero-profile {
        height: 600px;
        right: 0;
    }
    .alto-wraper {
        padding: 100px 70px;
    }
    .quote-container {
        padding-left: 100px;
    }
}

